<h1>Comments#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= commentsPath() %>" class="btn btn-info">Back to all Comments</a></li>
  <li><a href="<%= editCommentPath({ comment_id: comment.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= commentPath({ comment_id: comment.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>UserID</strong>: <%= comment.UserID %>
</p>
<p>
  <strong>Comment</strong>: <%= comment.Comment %>
</p>
<p>
  <strong>PromoID</strong>: <%= comment.PromoID %>
</p>
